<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.FoodMapper">


    <insert id="insert">
        insert into food
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null">name,</if>
            <if test="price != null">price,</if>
            <if test="image != null">image,</if>
            <if test="saleVolume != null">saleVolume,</if>
            <if test="businessID != null">business_id,</if>
            <if test="menuID != null">menu_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="image != null">#{image},</if>
            <if test="saleVolume != null">#{saleVolume},</if>
            <if test="businessID != null">#{businessID},</if>
            <if test="menuID != null">#{menuID},</if>
        </trim>
    </insert>

    <update id="updateById">
        update food
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="saleVolume != null">
                saleVolume = #{saleVolume},
            </if>
            <if test="businessID != null">
                business_id = #{businessID},
            </if>
            <if test="menuID != null">
                menu_id = #{menuID},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from food
        where  id = #{id}
    </delete>

    <select id="selectById" resultType="com.example.entity.Food">
        select food
        from food
        where id = #{id}
    </select>

    <select id="selectAll" resultType="com.example.entity.Food">
        select food
        from food
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="name != null"> and name= #{name}</if>
            <if test="price != null"> and price= #{price}</if>
            <if test="image != null"> and image= #{image}</if>
            <if test="saleVolume != null"> and saleVolume= #{saleVolume}</if>
            <if test="businessID != null"> and business_id= #{businessID}</if>
            <if test="menuID != null"> and menu_id= #{menuID}</if>
        </where>
    </select>


</mapper>